* {
    border: none;
    border-radius: 0;

    /* 0.9.14 workaround */
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;

    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Fira Code, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: #0a0a0a;
    color: #ffe6a6;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background-color: #0a0a0a;
}

tooltip label {
    color: #ffe6a6;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 2px 6px;
    background-color: transparent;
    color: #ffe6a6;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.focused {
    color: #000000;
    background-color: #ffe6a6;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode,
#custom-recording
{
    background-color: transparent;
    border-bottom: 3px solid #ffe6a6;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffe6a6;
    background-color: transparent;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
    margin-right: 5px;
}

#battery {
    background-color: transparent;
    color: #ffe6a6;
}

#battery.charging, #battery.plugged {
    color: #ffe6a6;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ff0000;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #000000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {
    background-color: #E89020;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #cc4500;
}

#pulseaudio.muted {
    background-color: #cc4500;
    color: #000000;
}

#temperature.critical {
    background-color: #cc0000;
    color: #000000;
}

#tray menu {
    background-color: #0a0a0a;
    color: #ffe6a6;
    box-shadow: none;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .active {
    box-shadow: inset 0px -2px #ffe6a6;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: transparent;
}

#idle_inhibitor.activated {
    border-radius: 100%;
    background-color: #ffe6a6;
    color: black;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    color: #ffe6a6;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
